<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
<!-- Copy the bean configuration file from the spring documentation -->
  
  <!-- this is our bean -->
 <!-- We can give values as an attribute as well rather than a using it as an element -->
 
 <bean class="com.springcore.Student" name="student1"/>
  
 <property name="studentId" value="1234" />

 <property name="studentName" value="Ram Krishna Pandey" />

 
 <property name="studentAddress" value="Ayodhya" />
 
 </bean>

   <bean class="com.springcore.Student" name="student2" >
 
<property name="studentId" value="5678"/>
<property name="studentName" value="rai" />
<property name="studentAddress" value="Banaras" /> 

 </bean>
 
 </beans>
